
{% extends "layout.html" %}
{% block content %}

<style>
	.progress {
		width: 100%;
		text-align: center;
	}
</style>

<div class="col-sm-8" style="margin-top:20px;">
	<div class="content-section">
		<div class="media">
			<!-- <p style="float: right;"><img class="rounded-circle account-img" src="{{ image_file }}"></p> --> 
			<h3>Installation</h3>
			<small class="text-muted">
				<p>We have prepared a container (docker) with all the necessary dependencies to run BamQuery. </p>

				<p>
					Also, you can download BamQuery from its source on github.
					<br>
					<br>
					See <a class="ml-1" href="https://bamquery.iric.ca/documentation/installation.html">here</a> all the installation and configuration instructions.  
					Or check our github page directly <a class="ml-1" href="https://github.com/lemieux-lab/BamQuery">BamQuery_git</a>. 
				</p>

			</small>
		</div>
	</div>
</div>
{% endblock content %} 



