
{% extends "layout.html" %}
{% block content %}

<style>
	.progress {
		width: 100%;
		text-align: center;
	}
</style>

<div class="col-sm-8" style="margin-top:20px;">
	<div class="content-section">
		<div class="media">
			<!-- <p style="float: right;"><img class="rounded-circle account-img" src="{{ image_file }}"></p> --> 
			<h3>Installation</h3>
			<small class="text-muted">
				<p>The instructions to install BamQuery can be found here: <a class="ml-1" href="https://bamquery.iric.ca/documentation/installation.html">manual_installation</a> or on our Github page: <a class="ml-1" href="https://github.com/lemieux-lab/BamQuery">BamQuery_git</a>. </p>

			</small>
		</div>
	</div>
</div>
{% endblock content %} 



