
{% extends "layout.html" %}
{% block content %}

<style>
	.progress {
		width: 100%;
		text-align: center;
	}
</style>

<div class="col-sm-8" style="margin-top:20px;">
	<div class="content-section">
		<div class="media">
			<!-- <p style="float: right;"><img class="rounded-circle account-img" src="{{ image_file }}"></p> --> 
			<h3>Installation</h3>
			<small class="text-muted">
				<p>We have prepared a container (docker) with all the necessary dependencies to run BamQuery. This container will be available after the publication of the article.  </p>

			</small>
		</div>
	</div>
</div>
{% endblock content %} 



