<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link  rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="utf-8">
    {% if title %}
      <title>BamQuery - {{ title }}</title>
    {% else %}
      <title>BamQuery</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{{ url_for('about') }}">BamQuery</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('search') }}">Query</a>
            </div>
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('retrieval') }}">Retrieval</a>
            </div>
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('installation') }}">Installation</a>
            </div>
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{{ url_for('publications') }}">Publications</a>
            </div>
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{{ url_for('documentation') }}">Documentation</a>
            </div>
           
            
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
<!-- https://www.youtube.com/watch?v=lcVdZtVvnnk&ab_channel=PrettyPrinted -->
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                {% if category == 'success' %}
                  <div class="alert alert-success mb-3" role="alert">
                    {{ message }}
                  </div>
                  {% endif %}

                {% if category == 'error' %}
                  <div class="alert alert-danger mb-3" role="alert">
                    {{ message }}
                  </div>
                  {% endif %}

              {% endfor %}
            {% endif %}
          {% endwith %}


          {% block content %}{% endblock %}

        
    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

</body>
</html>