
{% extends "layout.html" %}
{% block content %}

<style>
	.progress {
		width: 100%;
		text-align: center;
	}

	.bold-label {
		font-weight: bold;
	}

</style>


<div class="content-section">
	<div class="media">

		<!-- <p style="float: right;"><img class="rounded-circle account-img" src="{{ image_file }}"></p> --> 
		<h3>Interface Use:</h3>
		<small class="text-muted">
			<p>
This BamQuery interface facilitates tumor antigen prioritization. The interface queries a list of user-defined MAPs in mTECs (8) and Blood DCs (19) samples, as these cells are proxies for tumor specificity and immunogenicity. This interface also incorporates a predictive logistic regression model to report the conferred probability that a MAP is immunogenic. 
</p>
<p>
Entry requirements:
<br>1. Query name (This name will be required to download your results).
<br>2. List of MAPs (a maximum of 100 MAPs per run). BamQuery analyze MAPs ranging in length from 8 to 11 amino acids (aa).
<br>3. The genome version selected is v26_88, as the samples were aligned using this genome reference.
<br>4. Select the dbSNP database.
</p>
		</small>
	</div>
</div>

<div class="content-section">

<form method="POST" action="" enctype="multipart/form-data">
	{{ form.hidden_tag() }}
	<fieldset class="form-group">
		<legend class="border-bottom mb-4">New Query</legend>  

		<div class="row" >
			<div class="col" >
				<div class="form-group">
				{{ form.name_query.label(class="form-control-label") }}

				{% if form.name_query.errors %}
					{{ form.name_query(class="form-control form-control-sm is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.name_query.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.name_query(class="form-control") }}
				{% endif %}
				<small class="text-muted">
						Set a name to identify your query. 
						<br>
						<i class="fas fa-exclamation-circle"></i>
						The name cannot exceed 20 character. 
						<br>
						<i class="fas fa-exclamation-circle"></i>
						Only letters are allowed.
				</small>
				</div>
			</div>

			<div  class="col">
				<div class="form-group">
				{{ form.th_out.label(class="form-control-label") }}

				{% if form.th_out.errors %}
					{{ form.th_out(class="form-control form-control-sm is-invalid", style="width: 200px") }}
					<div class="invalid-feedback">
						{% for error in form.th_out.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.th_out(class="form-control", style="width: 100px") }}
				{% endif %}
				<small class="text-muted">
				
				RPHM (reads per hundred million) value used to differentiate low from high expression. <br>
				</small>
				</div>

			</div>
			<div class="col" >
				{{ form.genome_version.label(class="form-control-label") }}
				{{ form.genome_version }}
				<small class="text-muted">
						<br>
						Genome version supported : v26_88 / v33_99 / v38_104.
				</small>
			</div>

			<div class="col" >
				{{ form.data_base_snp.label(class="form-control-label") }}
				{{ form.data_base_snp}}
				<small class="text-muted">
					<br>
						dbSNP supported : 149 / 151 / 155 / None.
					</small>
					
			</div>

		</div>
		<br>
		<div class="row">
			<div class="col-2">
				
					{{ form.peptides_list.label() }}
					<div class="form-group">
						{{ form.peptides_list(class="form-control-file", rowsstyle="width: 600px !important; height: 150px;") }}
			
						{% if form.peptides_list.errors %}
							{% for error in form.peptides_list.errors %}
								<span class="text-danger">{{ error }}</span>
							{% endfor %}
						{% endif %}
					</div>
				
			</div>
				<div class="col">
					<br>
					<small class="text-muted">
						Peptides example list:<br>
						YVHMVTHF <br>
						AAMLDTVVFK<br>
						AGDDAPRAVF<br>
						EVGGEALGRL<br>
						[...]
					</small>
				
				</div>
		</div>

	</fieldset>
</div>
<div class="container">
	<div class="col"> 
		<div class="form-group col">
		{{ form.submit(class="btn btn-outline-info") }}
		</div>
	</div>
</div>
	<br>
		<div class="row"> 
		<legend class="border-bottom mb-4"></legend>
	</div>
</form>


<p></p>
{% endblock content %} 


