
{% extends "layout.html" %}
{% block content %}

<style>
	.progress {
		width: 100%;
		text-align: center;
	}
</style>

<div class="content-section">
	<div class="media">
		<!-- <p style="float: right;"><img class="rounded-circle account-img" src="{{ image_file }}"></p> --> 
		<h3>New Query</h3>
		<small class="text-muted">
			<p >The query may take some time, grab a coffee!<br></p>
		</small>
	</div>

<form method="POST" action="" enctype="multipart/form-data">
	{{ form.hidden_tag() }}
	<fieldset class="form-group">
		<legend class="border-bottom mb-4">Query</legend>  

		<div class="row" >
			<div class="col" class="form-group">

				{{ form.name_query.label(class="form-control-label") }}

				{% if form.name_query.errors %}
					{{ form.name_query(class="form-control form-control-sm is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.name_query.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.name_query(class="form-control") }}
				{% endif %}
			</div>

			<div class="col"  class="form-group">
				{{ form.peptides.label() }} 
				<p align="align-self-center"> {{ form.peptides(class="form-control-file") }}</p>

				{% if form.peptides.errors %}
						{% for error in form.peptides.errors %}
						<span class="text-danger">{{ error }}</span>
						{% endfor %}
				{% endif %}

			</div>
		<div class="w-100"></div>
			<div class="col">
				<small class="text-muted">
						Set a name to identify your query. Keep this name in mind to retrieve your results later.
				</small>
			</div>
			<div class="col">
				<small class="text-muted">
						For more details about the format of <b>peptides.tsv</b> please see the <a class="ml-2" href="{{ url_for('documentation') }}">documentation</a>.
				</small>
				<small class="text-muted">
					 Limited number of peptides = 100 per run. 
				</small>
				
			</div>
		<div class="w-100"></div>
			<div  class="col" class="form-group">

				{{ form.th_out.label(class="form-control-label") }}

				{% if form.th_out.errors %}
					{{ form.th_out(class="form-control form-control-sm is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.th_out.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.th_out(class="form-control") }}
				{% endif %}
			</div>
			
			<div class="col">
				<small class="text-muted">
				<p></p>	
				This value changes the threshold that is considered for comparing the expression levels of different tissues. Default = 8.55 rphm (reads per hundred million).
				</small>
			</div>
			
		</div>

		<div class="row" style="margin-top:20px;">

		<div class="col" >
			{{ form.genome_version.label(class="form-control-label") }}
			{{ form.genome_version }}
		</div>
		
		<div class="col" >
			{{ form.data_base_snp.label(class="form-control-label") }}
			{{ form.data_base_snp}}
				
		</div>

		<div class="w-100"></div>
			
			<div class="col">
				<small class="text-muted">
						Genome version supported : v26_88 / v33_99 / v38_104.
				</small>
			</div>
			<div class="col">
				<small class="text-muted">
					dbSNP supported : 149 / 151 / 155 / Any.
				</small>
			</div>
			
		</div>
	</fieldset>
</div>
	<div class="container">
		<div class="col"> 
			<div class="form-group col">
			{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</div>
	</div>
	</fieldset>
	<br>
		<div class="row"> 
		<legend class="border-bottom mb-4"></legend>
	</div>
</form>


<p></p>
{% endblock content %} 


